// @media (max-width: 800px) {
//   .left {
//     display: none;
//   }
// }

.session-title:hover {
  background: rgba(234, 234, 234, 0.514);
  cursor: pointer;

  border-radius: 4px;
}
.session-title {
}
